[paths]
source = cyclosible

[run]
branch = True
source = cyclosible
parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    cyclosible/Cyclosible/settings.py
    cyclosible/Cyclosible/wsgi.py
